@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cust_sec{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 140px;
}

.cust_heading{
    width: 98%;
    display: flex;
    justify-content: center;
    padding: 20px 2px;
    align-items: center;
}

.cust_heading h3{
    color: rgb(57, 3, 112);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
}

.cust_type{
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    background-color: rgb(57, 3, 112);
    color: white;
    padding: 100px 0px;
    font-size: 24px;
    font-weight: 400;
}

.cust_type:hover{
    background-color: rgb(56, 3, 109);
}

.customer{
    position: relative;
}

.arrow_cust{
    position: absolute;
    left: 200px;
    top: 600px;
}


.arrow_cust svg{
    width: 150px;
}

.cust_light{
    background-color: rgb(68, 3, 129);;
}

@media screen and (max-width:440px){
    .cust_sec{
        grid-template-columns: repeat(1, 1fr);
    }
    .cust_heading h3{
        font-size: 28px;
    }
    .arrow_cust{
        display: none;
    }
    .cust_type{
        padding: 40px 0px;
    }
}